body {
    background-image: url("assets/images/lone-warrior.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: steelblue;
    text-align: center;
    font-family: Garamond, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large
}

/* Site Heading */

#logo-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    background-color: beige;
    text-align: center;
    font-size: 22px;
    height: 165px;
}

.logo {
    height: 95px;
    position: relative;
    top: 35px;
    padding-left: 6px;
    padding-right: 6px;
}

#rules-box {
    box-sizing: border-box;
    background-color: beige;
    margin-top: 30px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* font-size: larger */
}

/* Game Card styling */

/* poss remove warrior box */
#warrior-box {
    background-color: beige;
    box-sizing: border-box;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.units {
    height: 250px;
    /* margin: 30px; */
}

.warrior-name {
    display: inline;
}

/* .selection{
    height: 50px;
    width: 100px;
    margin-left: 60px;
    margin-right: 65px;
} */

button{
   border: none;
   margin-left: auto;
   margin-right: auto;
   background-color: lightsteelblue;
}

#game-box{
    box-sizing: border-box;
    background-color: violet;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


/* poss not needed */
/* #warriors {}

.archer-button{}

.samurai-button{}

.spearmen-button{}

.cavalry-button{} */

/* Game area */


#score-box{
    display: inline;
}

#player-score {}

#cpu-score {}

.result{}

.score{}

/* background colour possibilities */
/* cadetblue #5f9ea0 95,
158,
160;
steelblue #4682b4 70,
130,
180;
lightsteelblue #b0c4de 176,
196,
222;
cornflowerblue #6495ed 100,
149,
237; */
