body {
    /* background-image: url("../images/lone-warrior.webp"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: steelblue;
    text-align: center;
    font-family: Garamond, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

/* Site Heading */

#logo-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    background-color: beige;
    text-align: center;
    font-size: 22px;
    height: 165px;
    border-radius: 4px;
}

.logo {
    height: 95px;
    position: relative;
    top: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Game backstory and rules */

#story-box {
    box-sizing: border-box;
    background-color: beige;
    margin-top: 30px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 4px;
    /* font-size: larger */
}

.hide-button {
    cursor: pointer;
}

/* Game Card styling */

#warrior-box {
    background-color: beige;
    box-sizing: border-box;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 4px;
}

.units {
    cursor: pointer;
    height: 250px;
    transition: 0.1s;
    /* display: flex;
    justify-content: center; */
    /* margin: 30px; */
}

.units:hover {
    transform: scale(1.1);
}

/* Hides game area until button click*/
#game-area {
    display: none;
}

/* .warrior-name {
    display: inline;
} */

/* .selection{
    height: 50px;
    width: 100px;
    margin-left: 60px;
    margin-right: 65px;
} */

button {
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue;
}

#game-box {
    box-sizing: border-box;
    background-color: beige;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 4px;
}

.rules {
    box-sizing: border-box;
    background-color: beige;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 4px;
}

.warrior-name {
    font-weight: bold;
    word-spacing: 75px;
    margin-bottom: 15px;
}

#result-message {
    background-color: beige;
    max-width: 75%;
    height: 75px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: larger;
}

/* Score area styling */

#score-box {
    background-color: white;
    border: 2px solid black;
    max-width: 85%;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 15px;
    border-radius: 4px;
}

#final-result {
    font-size: 2rem;
    color: red;
    z-index: 4;
}

#replay-button {
    display: none;
}

/* Game area */

.players {
    width: 50%;
}

#player-score {}

#cpu-score {}

.result {}

.score {}

/* background colour possibilities */
/* cadetblue #5f9ea0 95,
158,
160;
steelblue #4682b4 70,
130,
180;
lightsteelblue #b0c4de 176,
196,
222;
cornflowerblue #6495ed 100,
149,
237; */

/* poss not needed */
/* #warriors {}

.archer-button{}

.samurai-button{}

.spearmen-button{}

.cavalry-button{} */